<div class="container">
  <div class="music-player-card">
    <div class="d-flex">
      <div class="circle">
        <i class="fa-solid fa-angle-left"></i>
      </div>
      <div class="circle">
        <i class="fa-sharp fa-solid fa-bars"></i>
      </div>
    </div>
    <div class="center">
      <img src="assets/thumbnail.png" alt="" class="tumbnail-img">
      <h3>Desporito</h3>
      <p>lorem12 wenfik dmdkdlk</p>
    </div>

    <audio  id="song">
      <source src="assets/Ice & Fire - King Canyon (1).mp3" type="audio/mpeg">
    </audio>
    <input type="range" name="" id="progress" class="input-range">

    <div class="controls" >
      <div class="circle">
        <i class="fa-solid fa-backward"></i>
      </div>
      <div class="pink-circle">
        <i class="fa-solid fa-play" id="ctrlIcon" (click)="playPause()"></i>
      </div>
      <div class="circle">
        <i class="fa-solid fa-forward"></i>
      </div>

    </div>

  </div>

</div>